/**

 * @author 作者 Your-Name: 郭鹏程

 * @version 创建时间：2019年2月19日 下午3:03:43

 * 轮播视频图样式表

 */
.slide-img-show {
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 0;
    width: 70%;
}

.z-slide-img-show {
    background-color: white;
}

.z-slide-img-show > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: 0;
    transition: 0.5s;
}

SISpre-button, SISnext-button {
    height: calc(100% - 50px);
    width: 55px;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10001;
}

SISnext-button {
    right: 40px;
}

SISpre-button {
    left: 40px;
}

SISpre-button > img, SISnext-button > img {
    height: 55px;
    width: 55px;
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.slide-img-show:hover SISpre-button > img {
    opacity: 1;
    transition: 0.5s;
}

.slide-img-show:hover SISnext-button > img {
    opacity: 1;
    transition: 0.5s;
}

SISbottom {
    margin: 34px 10% 10px 10%;
    height: 6px;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10001;
}

SISbottom c-line {
    height: 100%;
    background-color: #484848;
    margin: 0 15px;
    float: left;
    cursor: pointer;
    opacity: 0.5;
}

.slide-img-show:hover c-line {
    opacity: 1;
    transition: 0.5s;
}

SISbottom c-line lcolor {
    height: 100%;
    background-color: white;
    width: 0;
    float: left;
}

.x-slide-img-show {
    background-color: white;
    overflow: hidden;
}

#x-img-content {
    position: relative;
    display: flex;
    box-sizing: content-box;
}

#x-img-content > img {
    width: 100%;
    position: relative;
    flex-shrink: 0;
    height: auto;
}

#x-img-content > content_box {
    position: absolute;
    top: calc(50% - 207px);
    width: 480px;
    height: 290px;
    text-align: left;
    color: white;
    font-size: 34px;
}

#x-img-content > content_box title {
    height: 20%;
    width: 100%;
    display: block;
}

#x-img-content > content_box sub_title {
    height: 20%;
    width: 100%;
    display: block;
}

#x-img-content > content_box eng {
    height: 20%;
    width: 100%;
    display: block;
    font-size: 18px;
    padding-top: 5%;
    border-bottom: 3px solid white;
}

#x-img-content > content_box b_area {
    height: 20%;
    width: 100%;
    display: block;
    margin-top: 5%;
}

#x-img-content > content_box b_area button {
    height: 46px;
    width: 220px;
    background-color: #3a66bf;
    display: block;
    color: white;
    border: 5px solid #3a66bf;
    border-radius: 15px;
    font-size: 21px;
    outline: none;
    transition: 1s;
}

#x-img-content > content_box b_area button:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
}