/* channel.css */
*{margin:0px;padding:0px;}
body{background:#F6F5FA;position:relative;font-family:"微软雅黑";}
img {width:100%;}
a{text-decoration:none;}
.wrap{max-width:1920px;overflow:hidden;}

.Top{background:#fff;}
.top{height:25px;line-height:25px;font-size:18px;margin-top:10px;margin-bottom:10px;padding-left:10px;padding-right:10px;background:#fff;}
.nav{height:25px;}
.nav img{width:auto;height:100%;}
.search{height:25px;}
.search img{width:auto;height:100%;}
.logo{height:25px;text-align:center;color:#333;}



#factory,#backgd {
    position: absolute;
    right: 0;
    color:#effff8;
}
#factory{
	top:25px;
}
#factory:hover,#backgd:hover {
    color: red;
}

.xian{height:1px;background:#D8D7DC;}

.Nav{height:40px;background:#fff;}
.special_content{width:100%;height:auto;overflow:hidden;}
.rsiae_question{white-space:nowrap;overflow-y:hidden;overflow-x:auto;margin-right:5px;}
.rsiae_question_auto{width:100%;}
.rsiae_question_auto ul{}
.rsiae_question_auto ul li{width:100px;display:inline-block;margin-right:5px;line-height:40px;font-size:16px;text-align:center;color:#9F9EA5;font-weight: bolder;}
.rsiae_question_auto ul li a{display: block;float: left;width:100%;line-height:40px;font-size:1em;text-align:center;color:#9F9EA5;}
.rsiae_question_auto ul li a:hover{cursor: pointer;background:url('../images/border-bottom.png') no-repeat bottom center;color:#FC3A3A;}


/* 用户频道 */
.pgcList{width:100%;background:#fff;padding-top:10px;}
.pgcList li{width:50%;float:left;margin-bottom:5px;}
.pgcImg{width:99%;margin-right:1px;}
.pgcImg a{display:block;width:100%;}
.pgcImg a img{width:100%;}

.pgcTitle{width:99%;margin-right:1px;}
.pgcLogo{width:20%;height:auto;border-radius:50%;overflow:hidden;margin-top:5px;margin-left:5px;}
.pgcLogo img{width: 100%;}

.pgcLogoName{width:72%;margin-left:5px;}
.pgcLogoName h2{width:100%;height:14px;line-height:14px;font-size:14px;color:#333;margin-top:10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.pgcLogoName h2 a{width:100%;display:block;color:#333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.pgcLogoName h2 a:hover{color:#DA433F;}
.pgcLogoName p a{width:100%;height:12px;line-height:12px;font-size:12px;color:#9B9B9B;margin-top:8px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.other{width:100%;background: #fff;}
.other .content-div{margin-bottom:10px;}
.other .content-div  div{margin-right:1px;}
.other .content-div  div img{width:100%;height:100%;}
.other .content-div  h2{margin-right:1px;text-indent:5px;height:20px;line-height:20px;font-size:14px;color:#333;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}

.other .content-div  h2 a {text-indent:4px;display:block;float:left;height:20px;width:85%;overflow:hidden;font-size:14px;line-height:20px;color:#333;text-overflow: ellipsis;white-space: nowrap;}
.other .content-div  h2 span{display:block;float:left;height:20px;width:15%;font-size:12px;line-height: 20px;text-align:center;background: #ECEBF1;}
.other .content-div  h3 {margin-right:1px;text-indent:5px;height:16px;line-height:16px;font-size:12px;color:#666;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}



@media screen and (max-width: 766px) {
	.logo{
		visibility: hidden;
	}

}
@media screen and (max-width: 800px) {

}