@CHARSET "UTF-8";
body
{
	background-color: #1b2838;
	height: auto;
	text-align: center;
}
a
{
	color:white;
	text-decoration: none;
}
#container
{
	background-color: #1b2838;
	width:100%;
	height:auto;
	margin: 0;
	padding:0;
	float:left;
}
#content
{
	background: url("../CSS/image/forum/forumbg.jpg") no-repeat ;
	background-size:cover;
	height: auto;
	width:80%;
	margin: 0 10%;
	/*filter: grayscale(60%);*/
	box-shadow:0 0 50px 50px #1b2838 inset;
	background-attachment:fixed;
	float: left;
}
#content leftArea
{
	margin:  0;
	padding:50px 0;
	width: 65%;
	float: left;
	height: auto;
	
}
#content leftArea cont
{
	width: 90%;
	margin :0 3% 0 0;
	padding:0;
	float: right;
}
#content leftArea cont form table
{
	width:100%;
}
#content leftArea ul
{
	width: 90%;
	margin :0 3% 40px 0;
	padding:0;
	float: right;
}
#content leftArea ul li
{
	height: auto;
	display:block;
	background-color:rgba(40,90,128,0.4);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#content leftArea ul li table
{
	table-layout: fixed;
}
#content leftArea ul li table tr
{
	height:auto;
}
#content leftArea ul li table tr td
{
	padding:0 10px;
	font:bold 18px Courier New;
	color:white;
	
}

#span1
{
	color:#74fe85;
	
}
#span2
{
	color:#11cfff;
}
#content leftArea ul li:HOVER 
{
	background-color:rgba(40,90,128,0.7);
	
}
#content rightArea
{
	margin: 0;
	padding:50px 0;
	width: 35%;
	float: left;
	height: 500px;
	
}
#content rightArea search
{
	margin: 0 0 20px 0;
	border: 1px solid #04416f;
	border-radius:5px;
	padding: 0;
	width:90%;
	float: left;
	background-color:rgba(4, 65, 111,1);
}
#content rightArea table
{
	
}
#content rightArea table tr
{
	
}
#content rightArea table tr td
{
	padding:0 10px;
	font:bold 18px Courier New;
}
input[type=search]
{
	background-color: gray;
	border: 1px solid gray;
	border-radius:5px;
	width:80%;
	height:35px;
	color:white;
	float: left;
	margin:20px 0;
	outline: none;
}
input[type=button]
{
	background-color: #04416f;
	border: 3px solid gray;
	border-radius:7px;
	width:18%;
	height:35px;
	color:white;
	float: left;
	margin:20px 0 20px 2%;
	outline: none;
}
input[type=button]:HOVER
{
	color:black;
	background-color: white;
}
#content rightArea block
{
	margin: 0 0 20px 0;
	border: 1px solid #04416f;
	border-radius:5px;
	padding: 0;
	width:90%;
	float: left;
	background-color:rgba(4, 65, 111,0.4);
}
#newButton
{
	background-color: #04416f;
	border: 3px solid gray;
	border-radius:7px;
	width:80%;
	height:50px;
	color:gray;
	margin:20px 10%;
	outline: none;
}
#newButton:HOVER 
{
	color:white;
	background-color: #48a4ff;
}
#logIn
{
	background-color: #04416f;
	border: 3px solid gray;
	border-radius:7px;
	width:30%;
	height:50px;
	color:gray;
	float: left;
	margin:20px 10%;
	outline: none;
}
#logIn:HOVER 
{
	color:white;
	background-color: #48a4ff;
}
textarea
{
	background-color: white;
	border: 3px solid white;
	border-radius:5px;
	outline: none;
	resize:none;
	width:80%;
	height: 70px;
}
h2
{
	margin:10px 0 0 0;
	color:#c0c0c0;
}
input[type=submit]
{
	background-color: #04416f;
	border: 3px solid gray;
	border-radius:7px;
	width:18%;
	height:35px;
	color:white;
	float: right;
	margin:20px 0 20px 2%;
	outline: none;
}
input[type=submit]:HOVER
{
	color:black;
	background-color: white;
}