@CHARSET "UTF-8";
#load_pad{
    position: absolute;
    top: 170px;
    left:0;
    z-index: 99998;
    background-color: white;
    text-align: center;
    display: inline-block;
    align-items:center;
    opacity:1;
    transition:1s;
}
#load_pad img{
	width: 200px;
	height: 200px;
}