@CHARSET "UTF-8";

body
{
	text-align: center;
	background:url("image/body_background.JPG") ;
}
#white
{
	margin:20px 0 0 0;
	padding:0 ;
	width:100%;
	height:auto;
	text-align:center;
}
#white news
{
	width:48%;
	margin :20px 1%;
	text-align: center;
	height:auto;
	float:left;
	background-color:white;
}
#nh1
{
	font:bold 32pt Courier New;
	width:100%;
	margin:0 auto;
}
#nimg
{
	width:100%;
	height:auto;
}
@media only screen and (max-width:950px){
	#news{
		width:98%;
	}
}