@CHARSET "UTF-8";
#mainforce
{
	margin:2%;
	padding:0;
	height:auto;
	width:96%;
	/*background-color:#eaeaea;*/
	text-align:center;
}
#mainforce leftArea
{
	height:auto;
	width:70%;
	float:left;
	font-family: Courier New;
	color:black;
}
#mainforce rightArea
{
	height:auto;
	width:30%;
	float:left;
	font-family: Courier New;
	color:black;
}
#mainforce rightArea td{
	word-wrap:break-word ;
	word-break:break-all;
}
#uploader
{
	margin:20px auto;
}
#mainforce leftArea table
{
	margin:20px auto;
}
#mainforce leftArea textarea
{
	width:80%;
	height:100px;
	resize:none;
}
h2
{
	text-align:left;
	font-size:18pt;
}
h3
{
	text-align:left;
	font-size:15pt;
}
p
{
	color:gray;
	float:right;
}
a
{
	color:black;
	text-decoration:none;
}
textarea
{
	border-radius:8px;
	outline:none;
}
#button
{
	background-color: #0787d0;
	border:1px solid #0787d0;
	border-radius: 6px;
	width:200px;
	height:25px;
	margin:25px 0 0 0 ;
	padding:0 25px;
	font:bold 13pt Courier New ;
	color: white;
}
table
{
	border-radius:8px;
}
@media only screen and (max-width:1000px){
	#mainforce leftArea{
		width:100%;
		float: none;
	}
	#mainforce rightArea{
		width:100%;
		float:none;
	}
}