@CHARSET "UTF-8";
body
{
	text-align: center;
	font-family: Courier New;
}
table
{
	margin: 30px auto;
	padding: 0;
	width: 70%;
	border: 1px solid black;
}
select
{
	width:100%;
	border-color:gray; 
}
table th
{
	color:red;
}
#td1
{
	text-align: right;
	width:150px;
}
#td2
{
	text-align: left;
}
input[type="button"]
{
	background-color: #0787d0;
	border:1px solid #0787d0;
	border-radius:5px;
	outline: none;
	color:white;
	cursor: pointer;
}