@CHARSET "UTF-8";
#pageing{
	width:100%;
	height:40px;
}
#pageing left{
	float:left;
	width:auto;
	margin:0 0 0 20px;
	color:gray;
	font:14pt Courier New;
}
#pageing right{
	margin:0 20px 0 0;
	width:400px;
	float:right;
	color:gray;
	font:14pt Courier New;
}
#pageing input[type="text"]{
	width:35px;
	border:2px solid gray;
	outline: none;
	padding:0;
}
#jump{
	background-color: white;
	border:2px solid #04cafb;
	color:#04cafb;
	border-radius:0;
	height:19px;
	padding:0;
}
#jump:HOVER{
	color:white;
	background-color: #04cafb;
}
#pageing input[type="text"]:FOCUS{
	border:2px solid #04cafb;
}
#pageing button{
	height:38px;
	width:40px;
	background-color: white;
	border-radius:7px;
	border:1px solid gray;
}
#pageing button:hover{
	background-color: #04cafb;
	color:white;
	transition:0.3s;
	outline:none;
}
#pageing button:focus{
	
	outline:none;
}