@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
body
{
	text-align: center;
	font-family: Courier New;
}
table
{
	margin: 30px auto;
	width: 70%;
	border: 1px solid black;
}
select
{
	width:100%;
	border-color:gray; 
}
table th
{
	color:red;
}