@CHARSET "UTF-8";
#mainForce
{
	height:590px;
	width:100%;
	position:relative;
	background:url(image/body_background.JPG);
}
#mainForce leftArea
{
	height:590px;
	width:70%;
	overflow-x:hidden;
	float:left;
}
#mainForce leftArea content
{
	height:530px;
	width:91%;
	border:10px solid white;
	position:relative;
	top:20px;
	left:20px;
	background:url(image/Log&SignMain.jpg) 100%;
	float:left;
}
#mainForce rightArea_Log 
{
	height:590px;
	width:30%;
	overflow-x:hidden;
	float:right;
}
#mainForce table
{
	position:relative;
	top:150px;
	font:bold 13pt Courier New;
	color:red;
	float:left;
}
input
{
	outline:none;
}
#button
{
	background-color: #0787d0;
	border:1px solid #0787d0;
	border-radius: 6px;
	width:50%;
	height:25px;
	margin:25px 0 0 0 ;
	padding:0 25px;
	font:bold 13pt Courier New ;
	color: white;
}
.text
{
	width:50%;
	height: 25px;
	border:1px solid white;
	border-radius: 6px;
}
.tr
{
	height:25px;
}